.container{
    background-color: white;
    height: 200px;
    width: 60%;
    position: relative;
    left: 20%;
    border-radius: 20px;
    margin-top: 5%;
}
 
.editEmployeeContainer{
    position: absolute;
    bottom: 0;
    left: 55%;
    border-bottom-right-radius: 20px;
    text-align: right;
}

.newEmployeeTextEntry{
    width: 100px;
    height: auto;
}

.removeEmployeeTextEntry{
    width: 100px;
    height: auto;
}

.header{
    font-size: 32px;
    padding-left: 20px;
    background-color: #299BCB;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}